body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:#F3F4F6;
    color: #111827;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select, select, input {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

button {
    padding: 10px 15px;
    background-color: #374151;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4B5563;
}

.oculto {
    display: none;
}

#erroresSeccion {
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 8px;
    background-color:#f8c1c1;
    border-radius: 4px;
    color: red;
    font-weight: bold;
    margin-top: 15px;
}

#detallesSeccion {  
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 8px;
    background-color:#F9FAFB;

}