* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
        }
        .principal {
            display: flex;
            width: 1000px;
            margin-top: 20px;
            gap: 20px;
        }
        ul {
            padding: 0;
        }
        .listaPeliculas {
            width: 300px;
            background: #f5f5f5;
            padding: 15px;
            margin-top: 10px;

        }
        li {
            list-style: none;
            padding: 8px;
            margin-bottom: 6px;
            cursor: pointer;
        }
        li:hover {
            background: #f5f5f5;
        }
        #detalles {
            width: 600px;
            padding: 15px;
            margin-top: 10px;
        }
        fieldset {
            border-radius: 5px;
        }

        legend {
            font-size: 25px;
            font-weight: bold;
            margin-left: 20px;
        }
        p {
            padding: 5px;
        }
        h2 {
            text-align: center;
        }