#contenedorImg {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.imagen-rompecabezas {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
}