* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Ajusta al centro los 3 contenedores */
body {
  display: flex;
  flex-direction: column;
}
h1 {
  margin:30px auto;
}
#contenedorImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columnas iguales */
  grid-template-rows: repeat(3, auto);
  /* 3 filas automáticas */
  gap: 10px;
  width:min-content;
  margin: 0 auto;
  padding: 20px;
}
.imagen, .celda{
  width: 160px;
  height: 100px;
  border: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*---------contenedorPuzle-----------------------*/
/* #contenedorPuzle {


} */
.rejilla{
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  border: 2px solid #ccc;
  padding: 5px;
  margin: 0 auto;
}

.celda {
  display:flex;
  align-items:center;
  justify-content:center;
  border: 1px solid #ccc;
  height: 100px;
  width: 160px;
  padding: 2px;
 
}




/*----------------button--------------------*/

button{
  margin: 20px auto;
  padding:20px;
}
#contenedorReset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* separa botón y mensaje */
}

#mensaje h1 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: green;
}