.datos-pelicula {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Portada a la izquierda */
.datos-pelicula img {
  width: 250px;
  border-radius: 10px;
  border: 2px solid #ffe81f;
}

/* Texto a la derecha */
.datos-pelicula div {
  flex: 1;
}
