h2 {
  color: #ffe81f;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1a1a1a;
  border: 1px solid #444;
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

button:hover {
  background-color: #ffe81f;
  color: #000;
  transform: scale(1.03);
}
