/* PeliculaDetalle.css */
.pelicula-detalle {
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  max-width: 600px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.pelicula-detalle h2 {
  margin-top: 0;
  color: #333;
}

.pelicula-detalle ul {
  list-style: none;
  padding: 0;
}

.pelicula-detalle li {
  margin: 6px 0;
}

/* .pelicula-detalle button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.pelicula-detalle button:hover {
  background-color: #005fa3;
} */


img{
    width: 200px;
    border-radius: 8px;
}