#contenedorLienzo {

    display: grid;
    grid-template-columns: repeat (6 1fr);
    grid-template-rows: repeat (6 1fr);
    background-color: rgb(190, 171, 207);

    padding: 20px;
    margin: 20px;

}

div {
    width: 10px;
    height: 10px;
    border: gray;
    background-color: white;

}