
.contenedor-contenedor {
  border: 2px solid #d5d5d5;
  padding: 20px;
  margin: 10px auto;
  width: auto;
  height: auto;
  background-color: rgb(252, 244, 245);
  border-radius: 10px;
  font-size: larger;
  color: rgb(25, 3, 31);
}
.contenedor-contenedor{
      min-height: 300px; /* Ajusta según lo que necesites */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 15px 0;
}

