table {
  border-collapse: collapse;
  margin: 20px;
  width: 200px;
}
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
}
.primo {
  background-color: red;
  font-weight: bold;
  color: white;
}
.bloqueado {
  color: red;
  font-weight: bold;
  font-style: italic;
}
#contenerdorWeb {
  max-width: 300px;
  border: solid 1px gray;
  text-align: center;
  border-radius: 10px;
  margin: 15px;
}
.parrafo {
  padding: 10px;
}
