table {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.primo {
  background-color: red;
  font-weight: bold;
  color: white;
  /*  border: 2px solid #ffa500; */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.bloqueado {
  color: red;
  font-weight: bold;
  font-style: italic;
}
#contenerdorWeb {
  width: 80%;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.parrafo {
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  margin: 12px 0;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: background-color 0.4s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
#contenedorCarrusel {
  width: 80%;
  max-width: 600px;
  aspect-ratio: 3 / 2;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
}

#contenedorCarrusel img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  object-fit: cover;
  object-position: center; /*Centra la imagen al recortar*/
}
.fade {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}
