body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
}

.contenedor-piezas, .contenedor-juego {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  border: 2px solid #333;
  padding: 5px;
}

.casilla, .pieza {
  width: 150px;
  height: 100px;
  border: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pieza {
  cursor: pointer;
  user-select: none;
}

button {
  margin-top: 2px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.oculto {
  display: none;
}
.mensaje-exito {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}