* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form,
fieldset {
  max-width: 600px;
  margin: 10px 0;
}
fieldset,
legend,
input,
select {
  border: 2px solid #ccc; /* mismo color y grosor */
  border-radius: 5px;
}
#selecGenero {
  color: #ccc;
}
label {
  padding: 20px;
}
label.corto {
  width: 200px;
}

fieldset {
  padding: 15px;
  margin-bottom: 20px;
}
legend {
  padding: 0 10px;
  font-weight: bold;
  background-color: #fff;
}
input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}
#anio {
  display: flex;
  width: fit-content;
}
.corto {
  width: 150px;
}
.error {
  border-color: red;
}
li {
  list-style: none;
}
.hidden {
  display: none;
}
.mensaje {
  display: inline-block;
  color: #9e9696;
  background-color: #ffcc80;
  border-left: 6px solid #ff9800;
  padding: 12px 16px;
  border-radius: 6px;
  margin: 10px 0;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.borrar {
  width: 75px;
  background-color: rgba(248, 2, 2, 0.566);
  align-content: right;
 
  font-size: small;
  color: #ccc;
}
strong {
  width: 75px;
  align-content: right;
  margin-left:20px;
  color: rgba(248, 2, 2, 0.566);
}
